html{
    font-size: 25px;
}
body{
    margin: 0;
}
.pink{
    width: 100vw;
    height: 50vh;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}.black{
    width: 100vw;
    height: 50vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}